<!-- JQuery -->
<!-- Footer -->
<footer class="page-footer font-small indigo darken-4 py-4">
  <!-- Footer Elements -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-start">
        <!-- Copyright -->

        <!-- Copyright -->
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <ul class="list-unstyled d-flex mb-0">
          <li>
            <a class="mr-3" role="button"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a class="mr-3" role="button"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a class="mr-3" role="button"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a class="" role="button"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Footer Elements -->
</footer>

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
></script>
<!-- Bootstrap tooltips -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
></script>
<!-- Bootstrap core JavaScript -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
></script>
<!-- MDB core JavaScript -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"
></script>
